<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/create.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="main">
      <div class="main_inner">
        <h1>Insert Employee</h1>
        <form action="/" method="post">
          {{!-- <input type="hidden" name="_id" value="{{employee._id}}" /> --}}
          <label>Full Name</label>
          <input type="text" name="saveasname" autocomplete="off" />
          <label>Email</label>
          <input type="email" name="saveasemail" autocomplete="off" />
          <div class="main_inner-inner">
            <div class="inner2">
              <label>Mobile</label>
              <input type="tel" name="saveasmobile" autocomplete="off" />
            </div>
            <div class="inner2">
              <label>City</label>
              <input type="text" name="saveascity" autocomplete="off" />
            </div>
          </div>
          <div>
            <button type="submit" value="submit">Submit</button>
          </div>
        </form>
        <button><a href="/">View All</a></button>
      </div>
    </div>
  </body>
</html>